
App/.vs/
*.bin
*.bin
App/.vs/ProjectEvaluation/vendingmachine.metadata.v7.bin
App/bin
App/.vs/VendingMachine/FileContentIndex
App/.vs
App/bin
App/obj
ApplicationCore/.vs
DataProvider/.vs/DataProvider/v17
DataProvider/.vs/DataProvider/FileContentIndex
DataProvider/.vs/DataProvider/DesignTimeBuild
DataProvider/bin
Extensions/obj
obj
ApplicationCore/bin
