@page "/adminItems/{SecretKey}"
@using VendingMachine.Services;
@inject IAdminServices AdminService
@inject IConfiguration configuration

@if (SecretKey == configuration.GetValue<string>("SecretKey"))
{
<div style="min-height:calc(70%); overflow: auto; background-color: #ececec; padding: 20px;">

    @for (int i = 0; i < adminItemViewModels.Count(); i += 4)
    {
        var _items = adminItemViewModels.Skip(i).Take(4);
        <GridRow>
            @foreach (var val in _items)
            {        
                <GridCol Span="6">
                    <VendingMachine.Components.AdminItem viewModel="val" token="token"></VendingMachine.Components.AdminItem>
                </GridCol>
            }
        </GridRow>
    }
</div>

<div style="margin-top:50px;">
    <Form Model="@model"
          LabelColSpan="8"
          WrapperColSpan="4">

        <FormItem Label="Name" WrapperColSpan="4">
            <Input @bind-Value="context.Name"></Input>
        </FormItem>

        <FormItem Label="Cost" WrapperColSpan="4">
            <AntDesign.InputNumber Formatter="Format" Min="1" @bind-Value="context.Cost" PlaceHolder="please input something"></AntDesign.InputNumber>
        </FormItem>
        
        <FormItem Label="Count" WrapperColSpan="4">
            <AntDesign.InputNumber  Min="1" @bind-Value="context.Count"  PlaceHolder="please input something"></AntDesign.InputNumber>
        </FormItem>

        <FormItem Label="Volume" WrapperColSpan="4">
            <AntDesign.InputNumber Min="1" @bind-Value="context.Volume" PlaceHolder="please input something"></AntDesign.InputNumber>
        </FormItem>
        
        <FormItem WrapperColOffset="8" WrapperColSpan="4">
            <Button Type="@ButtonType.Primary" HtmlType="submit" OnClick="() => Submit()">
                Submit
            </Button>
            <Button Type="@ButtonType.Dashed" HtmlType="submit" OnClick="() => Clear()">
                Clear
            </Button>
        </FormItem>
    </Form>
</div>
}
else{
    <p role="alert">Sorry, there's nothing at this address.</p>
}