@page "/"

<PageTitle>Index</PageTitle>

<h1>Main links</h1>
<div>

    <p>Here three main links</p>
    <p>Items - Where you can buy items from the showcase </p>
    <p>Admin panel - Where you can edit (or add, delete) items from the showcase</p>
    <p>Coin admin panel - Where you can edit (or add, delete) coins from DB</p>

    <a style="margin-top:1rem; text-decoration: underline">MAKE SURE: If there is not enough denomination of coins in the system. The system will not return the change</a>

</div>

